#title {
    text-align: center;
    color: #e09f3e;
}
body {
    background-color:  #f3e7d3;
}
#spimage {
    width: %100;
    height: auto;
    border-radius: 10px;
}
 #title2 {
    color: #e09f3e;
 }
 #description {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
 }
 .header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.list {
    font-style: oblique;
    text-decoration: double;
    
}